# Pandas

 **판다스(pandas)란 무엇인가?**
```
판다스는 데이터 분석을 위한 핵심라이브러리로써 고유한 자료구조인 Series와 DataFrame을 활용하여 
빅데이터 분석에 엄청난 수준의 퍼포먼스를 발휘한다.
Series와 DataFrame는 numpy(선형대수)의 1차원 2차원 array와 유사하다.
간단한 차이점이라고 하면, array에 index가 있는 형태라고 볼 수 있다.
```

In [1]:
import os
import pandas as pd

In [2]:
os.listdir('./ML_data')  # . : 현재 어떤 파일이 존재하는지

['NanumBarunGothic.ttf',
 'Naver_opinion.txt',
 'new_friend.csv',
 'new_friend_index_true.csv',
 'test.csv',
 'test_csv.txt',
 'train.csv',
 'train_data.csv',
 'wc_result.png',
 'wc_result1.png']

In [3]:
# 데이터 폴더 src 변수 할당
base_src = './ML_data'
# friend.csv 파일 src 변수 할당
friend_src = base_src + '/new_friend.csv'

In [4]:
# pandas의 read_csv => 데이터 불러오기
df= pd.read_csv(friend_src, encoding = 'utf-8')

# 파일이 읽히지 않고 에러 발생경우
# engine = 'python'를 추가해주면 읽어짐

In [5]:
# head() 데이터 읽어보기
df.head()  # default 값이 5로 지정되어있어 입력하지 않으면 5개 데이터를 볼 수 있다.

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [6]:
new_friend_src = base_src + "/new_friend.csv"

In [9]:
# pandas의 to_csv => 데이터 프레임 저장
# index = True or False => 데이터 저장시 새로운 인덱스를 생성할지 말지
# encoding => 데이터 인코딩 방식 설정

df.to_csv(new_friend_src, index=False, encoding ='utf-8')

In [10]:
os.listdir(base_src)

['NanumBarunGothic.ttf',
 'Naver_opinion.txt',
 'new_friend.csv',
 'new_friend_index_true.csv',
 'test.csv',
 'test_csv.txt',
 'train.csv',
 'train_data.csv',
 'wc_result.png',
 'wc_result1.png']